/*-----BASIC SETUP----*/

*{
    margin:0;
    padding: 0pt;
    box-sizing: border-box;
}

/*----Logo----*/

.logo{
    height: 100px;
    width:auto;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}

/*----Nav----*/

.main-nav{
    float: right;
    padding-right: 10px;
    list-style: none;  
}
.main-nav li{
    display: inline-block;
    margin-top: 60px; 
    word-spacing: 5px;
}
.main-nav li a:link,
.main-nav li a:visited{
    display: inline-block;
    color: #fff;
    font-size: 90%;
    text-decoration: none;
    padding:10px 20px ;
    text-transform:uppercase;
    border-bottom:2px solid transparent;
    transition:border-bottom 0.5s ;
}
.main-nav li a:hover,
.main-nav li a:active{
     border-bottom:2px solid  #cf6d17;
}

/*----Html-----*/

html,body{
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-weight: lighter;
    font-size: 15px;
    color:rgb(241, 236, 236);
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{zoom: 1}
.clearfix:after{
    display: block;
    content: ".";
    clear:both ;
    height: 0;
    visibility: hidden;
}

/*-----RESUABLE COMPONENTS----*/

.row{
    margin: 0 auto;
    max-width: 1140px;
}

/*---SECTION----*/

section{
    padding: 80px 0px;
    color: rgb(32, 32, 32);
    font-weight: 300;
}
.box{
    padding:1px;
}
.box p{
    word-spacing: 2px;
    font-weight: 300;
}
.box img{
    height:auto;
    width:100%;
    margin-bottom: 15px;
}
/*----section-form-----*/



/*---How it works----*/

.How-it-works{
    background-color: #f4f4f4;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 40%;
}
.works-step{
    margin-bottom: 40px;
}
.works-step:last-of-type {
    margin-bottom: 80px;
}
.works-step div{
    display: block;
    color: coral;
    border: 2px solid coral;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 150%;
    padding:5px;
    float: left;
    margin-right: 40px;
}
.btn-app img{
    margin-top: 20px;
    width: auto;
    height: 40px;
    margin-right: 30px;
}


/*paragraph*/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 20%;
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
}

/*-----HEADINGS----*/

h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2{
    word-spacing: 2px;
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}
h2:after{
    display: block;
    background-color: coral;
    height: 2px;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
h3{
    font-weight: 400;
    padding-bottom: 8px;
    letter-spacing: 1px;
}

/*-----Buttons----*/

.bt:link,
.bt:visited{
    display: inline-block;
    padding:10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #cf6d17 ;
    transition: background-color 0.2s,border 0.2s,color 0.3s;
}
.bt:hover,
.bt:active{
    background-color: #cf6d17;
}
.bt-full:link,
.bt-full:visited{
    border:1px solid #e67e22;
    color:#cf6d17;
    margin-right: 15px;
}
.bt-ghost:link,
.bt-ghost:visited{
    border:1px solid #e67e22;
    color: #fff;
}

.bt-full:hover,
.bt-full:active{
    border:1px solid #e67e22;
    color: #fff;
}
.bt-ghost:hover,
.bt-ghost:active{
    border:1px solid #e67e22;
    color: #fff;
}

/*----Link----*/

a:link,
a:visited{
    color:#e67e22;
    text-decoration: none;
    padding-bottom: 2px;
    
    transition:color 0.3s;
}
a.btn-app:link,
a.btn-app:visited{
    border-bottom: 0px;
}
a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}

/*----Header----*/

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.699))   , url(hero.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}

/*----ION ICONS------*/

ion-icon{
    color:coral;
    --ionicon-stroke-width: 32px;
    font-size: 40px;
}

.icon-small{
    display:inline-block;
    text-align: center;
    color: coral;
    margin-right: 10px;
    /*Secrets to align the img and text*/
    line-height: 120%;
    vertical-align: middle;
}

/*----CITY FEATURES------*/

.city-features{
     margin-bottom: 5px;
 }
 
/*----MEALS SHOWCASE------*/

.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meals-photo{
    width: 100%;
    margin: 0;
    overflow:hidden;
    background-color: #000;
}
.meals-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.25);
    transition: transform 0.5s ,opacity 0.3s;
}
.meals-photo img:hover{
    opacity:1;
    transform: scale(1.03);
}

/*-----customer img--------*/

.customer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.699)) ,url(back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.customer-img{
    height: 80px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
}
blockquote{
    padding: 2%;
    font-style: italic;
    list-style: 145%;
    line-height: 20px;
    position: relative;
    font-size: 110%;
}
blockquote:before{
    content: "\201C";
    display: block;
    position: absolute;
    font-size: 380%;
    left: 0;
}
cite{
    margin-left: 5px;
    font-size: 120%;
}


/*-----Section-price-----*/

.price{
    background-color: #f4f4f4;
    margin-top: 50px;
    width: 125%;
    height:600px;
    margin-bottom: 50px;
}
.price h2{
    float: left;
    margin-left: 15%;
}
.plan-box{
    background-color: #fff;
    border-radius: 2px;
   box-shadow: 0 2px 2px #efefef;
   
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid rgba(163, 163, 163, 0.801);
}
.plan-box div:last-child{
    text-align: center;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: coral;
}
.plan-price span{
    font-size: 30%;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul br{
    padding: 15px 0px;
}

/*----footer----*/
footer{
    background-color: #333;
        height: 150px;
}
.footer-nav{
    float: left;
    list-style: none;
    padding-left: 20px;
}
.social-links{
    float: right;
    
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right:20px;
}
footer div p{
    text-align: center;
}
.btn-icon{
    float: right;
    
}